.desktop-only {
    display: initial;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.mobile-only {
    display: none;

    @media screen and (max-width: 767px) {
        display: inherit;
    }
}

.content-wrapper {
    max-width: 1230px;
    margin: auto;
    padding: 0 15px;
}

.site-main {
    section {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-flow: row wrap;
        margin: 0 -20px;

        & .title {
            color: #e54647;
            font-size: 2.5em;
            margin-top: 1.5em;
        }

        & p {
            line-height: 1.75;
            margin: 1.5em 0;
        }

        & li {
            line-height: 1.75;
        }

        & .image,
        & .text {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 20px;
        }

        & .text {
            max-width: 516px;
            margin-right: auto;
        }

        @media screen and (max-width: 991px) {
            & .image,
            & .text {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}   