#o-que-e {
    & .title {
        font-size: 3em;
    }

    &.image-text {
        & .image {
            & img {
                max-width: 130%;
                margin-left: -20%;
            }
        }
    }
}

#como {
    background-image: url('assets/images/icon-como.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 2em;
}

#onde {
    background-image: url('assets/images/icon-onde.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 2em;
}

#quem-somos {
    & button {
        font-size: 1.375em;
    }

    &.image-text {
        & .image {
            & img {
                margin-left: -9%;
                max-width: 122%;
            }
        }
    }
}